body{
    font-family:Arial;
    margin:0;
    padding:0;
    background:rgb(255, 255, 255);
 }

 #hero-outer {
   height:600px;
   width:100%;
   overflow:hidden;
   position:relative;
 }

 /* Hero image */

 #hero-image {
   height:600px;
   width:100%;
   background:url('../images/hero-image.jpg') no-repeat center center;
   background-size:cover;
   background-position:center;
 }

/* Cover text */

#cover-text {
   color:purple;
   font-size:130%;
   font-family: arial;
   letter-spacing: 4px;

   width: 300px;
   height:200px;
   padding-top: 40px;
   padding-left: 10px;

   background-color:rgb(0, 0, 255, .5);

   bottom: 30px;
   left: 150px;

   position:absolute;
   }

 /* navigation diamonds */

 .navigation {
   display:flex;
   column-gap:20px;
   width: 50%;
   height:200px;
   margin:auto;
 }

 .diamond1 {
   width:200px;
   height:200px;
   border-style:solid;
   border-width: 5px;
   border-color:purple;
   background:url(../images/question.jpg);
   background-size:cover;
   
 }

 .diamond2 {
   width:200px;
   height:200px;
   border-style:solid;
   border-width: 5px;
   border-color:purple;
   background:url(../images/person.jpg);
   background-size:cover;
 }

 .diamond3 {
   width:200px;
   height:200px;
   border-style:solid;
   border-width: 5px;
   border-color:purple;
   background:url(../images/pencil.jpg);
   background-size:cover;
 }

 .diamond4 {
   width:200px;
   height:200px;
   border-style:solid;
   border-width: 5px;
   border-color:purple;
   background:url(../images/tick.jpg);
   background-size:cover;
 }